/*Default Title Styles*/
.Title {
    display: flex;
    justify-content: space-between;
    height: 50px;
    position: fixed;
    width: 100vw;
    background-color: rgba(30, 64, 175);
    z-index: 1000;
}
.AppName {
    margin: auto 0 auto 16px;
    font-size: 32px;
    color: white;
}
.GetStartedButton {
    margin: 10px 30px 0 0;
    padding: 0 12px;
    height: 30px;
    background-color: white;
    border: 1px solid #d3d3d3;
    border-radius: 25px;
}
.GetStartedButton:hover {
    opacity: 90%;
}

/*Banner Styles*/
.Banner {
    background-color: rgba(30, 64, 175);
    padding: 75px 0 24px 0;
    display: flex;
    justify-content: center;
    color: white;
}
.BannerContainer {
    width: min(1000px, 90vw);
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.BannerText {
    width: 300px;
    margin-top: auto;
    margin-bottom: auto;
}
.BannerButton {
    display: flex;
    font-size: 16px;
    border: 1px solid #d3d3d3;
    border-radius: 40px;
    padding: 4px 16px;
    background: white;
    color: rgba(30, 64, 175);
    margin: 8px auto 0 auto;
}
.BannerButton span{
    font-size: 16px;
    margin-left: 4px;
}
.BannerPicture {
    width: 550px;
    margin-right: 25px;
}
.BannerTitle {
    font-size: 22px;
}

/*Getting Started Styles*/
.GettingStarted {
    text-align: center;
    padding-bottom: 18px;
}
.GettingStartedTitle {
    font-size: 28px;
    margin-top: 24px;
}
.GettingStartedSection {
    font-size: 20px;
    margin-top: 12px;
}
.GettingStartedDescription {
    font-size: 18px;
    margin: 6px auto 0 auto;
    width: 600px;
}
.GettingStartedImage {
    margin: 16px auto;
    border-radius: 40px;
    width: 600px;
}

/*Q&A Styles*/
.QandA {
    background: black;
    color: white;
    padding: 24px 0;
}
.QandA button:hover {
    opacity: 80%;
}
.QuestionContainer {
    display: flex;
    justify-content: space-between;
}
.QandAContainer {
    width: min(600px, 80vw);
    margin: 18px auto;
    border: 1px solid white;
    padding: 16px 12px 16px 16px;
}
.QandATitle {
    font-size: 24px;
    text-align: center;
}
.QandAButton {
    display: flex;
    margin: auto 0;
    background: white;
    border-radius: 25px;
    color: black;
    padding: 2px 10px;
}
.DownArrow, .UpArrow {
    position: relative;
    top: -2px;
}

/*Testimonies Styles*/
.TestimoniesContainer {
    width: 500px;
    height: 150px;
    display: flex;
    margin: 12px auto;
}
.Individual {
    text-align: end;
    margin-right: 12px;
}
.Testimony {
    align-content: center;
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
}
.TestimoniesTitle {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.TraversalButtonContainer {
    display: flex;
    margin: auto 12px;
}
.TraversalButton {
    margin-bottom: 2px;
}
.TestimonyTitle {
    text-align: center;
    margin-top: 24px;
    font-weight: bold;
    font-size: 24px;
}
.TestimoniesPicturesContainer {
    text-align: center;
    color: white;
    width: 600px;
    background: rgba(30, 64, 175);
    border-radius: 40px;
    margin: 12px auto;
    padding-bottom: 24px;
}
.TestimonyImage {
    width: 175px;
}
.TestimonyImages {
    display: flex;
    justify-content: space-evenly;
    margin-top: 8px;
    margin-bottom: 8px;
}
.TestimonyPictureTitle {
    padding: 16px 16px;
}

/*Footer Styles*/
.Footer {
    background: rgba(32, 64, 175);
    margin-top: 36px;
    color: white;
    padding: 8px 4px 0 4px
}
.FooterLinks {
    display: flex;
    margin: 12px auto;
    width: 400px;
    justify-content: space-evenly;
    font-size: 18px;
}
.FooterSocials {
    display: flex;
    justify-content: center;
    font-size: 24px;
}
.Socials {
    margin: 0 8px 0 8px;
}
.FooterButton {
    display: flex;
    margin: 16px auto 12px auto;
    padding: 4px 8px;
    border-radius: 25px;
    background: white;
    color: rgba(32, 64, 175);
}

@media (max-width: 599px) {
    /*Banner Styles*/
    .BannerContainer {
        display: initial;
    }
    .BannerText {
        margin: 18px auto 0 auto;
        text-align: center;
    }
    .BannerPicture {
        width: 340px;
        margin: 0 auto;
    }

    /*Getting Started Styles*/
    .GettingStartedDescription, .GettingStartedImage {
        width: 340px;
        border-radius: 40px;
    }

    /*Testimonies Styles*/
    .TestimonyImageRight {
        display: none;
    }
    .TestimonyTitle {
        text-align: center;
        margin-top: 12px;
        font-weight: bold;
        font-size: 18px;
    }
    .TestimoniesPicturesContainer {
        margin-top: 64px;
        width: 340px;
    }
    .TestimonyImage {
        width: 125px;
    }
    .TestimoniesContainer {
        width: 340px;
    }

    .FooterLinks {
        width: 340px;
        font-size: 16px;
    }
    .Footer {
        padding: 0px;
    }
}


@media (min-width: 600px) and (max-width: 999px) {
    .BannerContainer {
        display: initial;
    }
    .BannerText {
        margin: 18px auto 0 auto;
        text-align: center;
    }
    .BannerPicture {
        width: 400px;
        margin: 0 auto;
    }

    /*Getting Started Styles*/
    .GettingStartedDescription, .GettingStartedImage {
        width: 450px;
    }

    /*Testimonies Styles*/
    .TestimonyTitle {
        text-align: center;
        margin-top: 18px;
        font-weight: bold;
        font-size: 18px;
    }
    .TestimoniesPicturesContainer {
        width: 400px;
        margin-top: 40px;
    }
    .TestimonyImage {
        width: 115px;
    }
    .TestimoniesContainer {
        width: 400px;
    }
}