@media (max-width: 549px) {
    /*QandA Styles */
    .UpArrow {
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
        position: relative;
        top: -0.125rem;
    }
    .DownArrow {
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
        position: relative;
        top: -0.125rem;
    }
    .Container{
        width: 340px;
    }
    .Question {
        font-size: 1rem;
    }
    .Answer {
        font-size: .875rem;
    }

    /*Getting Started Component Styles*/
    .GettingStartedImage {
        width: 300px;
    }
    .GettingStarted {
        width: 300px;
        font-size: 1rem;
    }
    .GettingStartedTitle {
        font-size: 2rem;
    }

    /*Quiz Page Styles*/
    .QuizInput1 {
        width: 300px;
    }
    .QuizInput2 {
        width: 320px;
    }
    .QuizInput3 {
        width: 120px;
    }
    .QuizInput4 {
        width: 250px;
    }

    .FooterSocials {
        width: 300px;
    }
    .FooterButton {
        margin: 0.5rem auto 0 auto;
    }
    .FooterLinks {
        display: flex;
        justify-content: space-evenly;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .TestimoniesContainer {
        width: 320px;
        height: 200px;
        margin: 0 auto;
    }
    .TestimoniesTitle {
        font-size: 1rem;
    }
    .Testimony {
        font-size: 0.75rem;
    }
    .Individual {
        font-size: 0.875rem;
        text-align: end;
        margin-right: 10px;
    }
    .TestimonyImage {
        width: 130px;
        height: 180px;
    }
    .TestimoniesPicturesContainer {
        width: 300px;
        padding: 15px 15px 10px 15px;
        background-color: #1E40AF;
        margin: 0 auto;
    }
    .TestimonyImageDivider {
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .TestimonyTitle {
        font-size: 1.25rem;
    }
    .TestimonyImageRight {
        display: none;
    }
    .TestimonyPictureTitle {
        margin-bottom: 10px;
        font-size: 1rem;
    }
}

@media (max-width: 749px) {
    /*Banner Styles*/
    .Banner {
        width: 100vw;
    }
    .BannerPicture {
        width: 300px;
        margin: 0 auto 1rem auto;
    }
    .BannerText {
        width: 300px;
        margin: 0 auto;
    }
    .BannerTitle {
        font-size: 1.5rem;
    }
    .BannerParagraph {
        font-size: 1rem;
    }
}

@media (min-width: 550px) {
    .QuizInput1 {
        width: 400px;
    }
    .QuizInput2 {
        width: 450px;
    }
    .QuizInput3 {
        width: 200px;
    }
    .QuizInput4 {
        width: 300px;
    }

    .FooterLinks {
        margin-left: 1rem;
        width: 85vw;
        display: flex;
        justify-content: space-evenly;
        margin-left: auto;
        margin-right: auto;
        font-size: 1rem;
    }
    .FooterSocials {
        width: 300px;
    }
    .FooterButton {
        margin: 0.5rem auto 0 auto;
    }
}

@media (min-width: 1000px) {
    .Container {
        width: 900px;
    }
    .UpArrow {
        font-size: 1.5rem;
        padding: 0.25rem 0.75rem;
        position: relative;
        top: -0.25rem;
    }
    .DownArrow {
        font-size: 1.5rem;
        padding: 0.25rem 0.75rem;
        position: relative;
        top: -0.25rem;
    }
    .GettingStartedImage {
        width: 500px;
    }
    .GettingStarted {
        width: 500px;
    }

    .TestimoniesContainer {
        width: 600px;
        height: 200px;
        margin: 0 auto;
    }
    .TestimoniesTitle {
        font-size: 1.375rem;
    }
    .Testimony {
        font-size: 1.25rem;
    }
    .Individual {
        font-size: 1.175rem;
        text-align: end;
        margin-right: 10px;
    }
    .TestimonyImage {
        width: 220px;
        height: 350px;
    }
    .TestimoniesPicturesContainer {
        width: 710px;
        padding: 15px 15px 10px 15px;
        background-color: #1E40AF;
        margin: 0 auto;
    }
    .TestimonyImageDivider {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .TestimonyTitle {
        font-size: 1.50rem;
    }
    .TestimonyPictureTitle {
        margin-bottom: 10px;
        font-size: 1.25rem;
    }
}

@media (min-width: 1200px) {
    /*Banner Styles*/
    .Banner {
        display: flex;
        justify-content: center;
    }
    .BannerPicture {
        width: 500px;
    }
    .BannerText {
        width: 650px;
        margin: auto 0;
    }
    .BannerParagraph {
        width: 375px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 550px) and (max-width: 999px){
    /*Getting started component styles*/
    .GettingStartedImage {
        width: 400px;
    }
    .GettingStarted {
        width: 400px;
    }
    .GettingStartedTitle {
        font-size: 3rem;
    }

    /*Q&A media styles*/
    .Container{
        width: 500px;
    }
    .Question {
        font-size: 1.25rem;
    }
    .UpArrow {
        font-size: 1.5rem;
        padding: 0.25rem 0.75rem;
        position: relative;
        top: -0.25rem;
    }
    .DownArrow {
        font-size: 1.5rem;
        padding: 0.25rem 0.75rem;
        position: relative;
        top: -0.25rem;
    }

    .TestimoniesContainer {
        width: 400px;
        height: 200px;
        margin: 0 auto;
    }
    .TestimoniesTitle {
        font-size: 1.125rem;
    }
    .Testimony {
        font-size: 1rem;
    }
    .Individual {
        font-size: 0.875rem;
        text-align: end;
        margin-right: 10px;
    }
    .TestimonyImage {
        width: 150px;
        height: 220px;
    }
    .TestimoniesPicturesContainer {
        width: 500px;
        padding: 15px 15px 10px 15px;
        background-color: #1E40AF;
        margin: 0 auto;
    }
    .TestimonyImageDivider {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .TestimonyTitle {
        font-size: 1.50rem;
    }
    .TestimonyPictureTitle {
        margin-bottom: 10px;
        font-size: 1.25rem;
    }
}

@media (min-width: 750px) and (max-width: 1199px) {
    /*Banner Styles*/
    .Banner {
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
    }
    .BannerPicture {
        width: 375px;
    }
    .BannerText {
        width: 250px;
        margin: auto 0;
    }
    .BannerTitle {
        font-size: 2rem;
    }
    .BannerParagraph {
        font-size: 1.25rem;
    }
}

.FooterLinksTitle {
    font-size: 1.25rem;
}
.FooterLinksSub {
    font-size: 1rem;
}